{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container text-warning">
    <div class="row justify-content-center mt-5">
        <h2> About us</h2>
    </div>

    <div class="row justify-content-center mt-5">
        <p><em>TU Tuning</em> is a family run business based in Hastings, East Sussex.</p>
    </div>

    <div class="row justify-content-center">
        <p>Terry Uttridge is the owner and service provider for all our services</p>
    </div>

    <div class="row justify-content-center">
        <p>Terry is a fully qualified mechanic with over 10 years experience in the</p>
    </div>

    <div class="row justify-content-center">
        <p>automotive industry.</p>
    </div>
    
</div>>
{% endblock %}