{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container text-dark pb-5 mb-5">
    <div class="row justify-content-center mt-5 mb-5 pb-5">
        <h2 class="mt-5"> About us</h2>
    </div>

    <div class="row justify-content-center mt-5 ml-5 mr-5 info">
        <p><em>TU Tuning</em> is a family run business based in Hastings, East Sussex.</p>
    </div>

    <div class="row justify-content-center ml-5 mr-5 info">
        <p>Terry Uttridge is the owner and service provider for all our services</p>
    </div>

    <div class="row justify-content-center ml-5 mr-5 mb-5 pb-5 info">
        <p>Terry is a fully qualified mechanic with over 10 years experience in the automotive industry.</p>
    </div>

</div>>
{% endblock %}