{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
   <div class="row justify-content-center text-warning mt-5" id="full-name-row">
      <h3 class="mr-4">Full Name</h3>
      {% csrf_token %}
      <p>{{ form.full_name }}</p>
   </div>

   <div class="row justify-content-center text-warning mt-5">
      <h3 class="mr-3">Phone Number</h3>
      {% csrf_token %}
      <p class="mr-5">{{ form.phone_number }}</p>
   </div>

   <div class="row justify-content-center text-warning mt-5 ml-2">
      <h3 class="mr-3">Email</h3>
      {% csrf_token %}
      <p class="ml-5">{{ form.email }}</p>
   </div>

</div>
{% endblock %}