{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-warning text-center mt-5">
         <h2>Welcome to <em>TU Tuning</em></h2>

         <p>We offer a variety of services</p>
        </div>

        <div class="col text-warning text-center mt-5">
            <h2 class="ml-4">What we offer:</h2>
            <ul class="mt-4" id="services">
                <li>
                    Stage 1 & 2 remaps
                </li>
                <li>
                    Econemy maps
                </li>
                <li>
                    Speed limiter removal
                </li>
                <li>
                    EGR solution
                </li>
                <li>
                    DPF solution
                </li>
                <li>
                    AdBlue delete
                </li>
                <li>
                    Popcorn limiter
                </li>
                <li>
                    Pop & Bang
                </li>
                <li>
                    Launch control
                </li>
                <li>
                    Swiralflap removal
                </li>
                <li>
                    IMMO removal
                </li>
                <li>
                    Exhaust flap removal
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}