{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container text-dark pb-4">
    <div class="row mb-5 pb-5 mt-5">
        <div class="col-12 text-center">
            <h1>Welcome to <em>TU Tuning</em></h1>
        </div>

        <div class="col-12 col-md-6 text-center mt-5">
            <p class="mt-4 pt-4 info">We offer a variety of services across East Sussex.</p>
            <p class="info">All services are remote which means that we come to you!</p>
            <p class="info">Just call or email us, both of which can be found on our
                <a href="{% url 'contact' %}"><em>contact page</em></a></p>
            <p class="info">and we'll arrange a time to come and service your car.</p>
            <br>
            <p class="info">Thanks for using <em>TU Tuning!</em></p>
            <p class="info">We hope to hear from you soon.</p>
        </div>

        <div class="col-12 col-md-6 text-center mt-5">
            <img src="{% static 'images/IMG-20230323-WA0001.jpg' %}" alt="blue-car-with-hood-open" class="img-fluid">
        </div>

        <div class="col-12 text-center pt-5 mt-5 mb-5">
            <h2>What we offer:</h2>
        </div>

        <div class="col-12 col-md-6 text-center mt-o">
            <ul class="pl-0">
                <li>
                    Stage 1 & 2 remaps
                </li>
                <li>
                    Econemy maps
                </li>
                <li>
                    Speed limiter removal
                </li>
                <li>
                    EGR solution
                </li>
                <li>
                    DPF solution
                </li>
                <li>
                    AdBlue delete
                </li>
                <li>
                    Popcorn limiter
                </li>
                <li>
                    Pop & Bang
                </li>
                <li>
                    Launch control
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-6 text-center mt-0">
            <ul class="pl-0">
                <li>
                    Swiralflap removal
                </li>
                <li>
                    IMMO removal
                </li>
                <li>
                    Exhaust flap removal
                </li>
                <li>
                    MOT's
                </li>
                <li>
                    Servicing
                </li>
                <li>
                    Diagnostics
                </li>
                <li>
                    Cam belts
                </li>
                <li>
                    Clutches
                </li>
                <li>
                    General repairs
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}